@use 'base' as *;
@use 'components' as *;
@use 'pages' as *;
@use 'variables' as *;

body {
    border: 1rem solid $accent;
    background: $accent;
}

a {
    color: inherit;




    &:hover {
        font-style: italic;
    }
}

.outline-wrapper {
    border: 1px solid $primary;
    background: $secondary;
    padding: 0 0 4rem 0;

}

.nav-link {
    color: $secondary;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

// NAV
nav {
    min-height: 60px;
    background-color: $primary;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    padding: 1rem 1.5rem 1rem;

    ul {
        padding: 0;
        display: flex;
        gap: 1rem;
        justify-content: start;
        width: 100%;
    }

    li {
        list-style: none;
        font-size: 14px;

        &:hover,
        .active {
            font-style: italic;
            text-decoration: underline;

        }
    }
}

.nav-title {
    font-family: $title-font;
    font-size: 2rem;
    min-width: fit-content;
    text-align: left;
    display: inline;
    text-decoration: none;
    color: $secondary;
}