---
import "../sass/index.scss";
const navLinks = [
    { name: "DJ", link: "/" },
    { name: "Photographer", link: "/" },
    { name: "Dancer", link: "/" },
    { name: "Programmer", link: "/" },
];
---

<html>
    <head>
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Rum+Raisin&display=swap"
            rel="stylesheet"
        />
        <!-- FONTS END -->
        <title>Aayan's Portfolio</title>
    </head>
    <body>
        <div class="outline-wrapper">
            <nav>
                <a class="nav-title" href="#">Aayan's Life</a>
                <ul>
                    {
                        navLinks.map((link) => (
                            <li>
                                <a class="" href={link.link}>
                                    {link.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </nav>
            <main>
                <slot />
            </main>
        </div>
        <footer>Footer</footer>
    </body>
</html>
