---
import "../sass/index.scss";
const navLinks = [
    { name: "Home", link: "/" },
    { name: "DJ", link: "/dj" },
    { name: "Photography", link: "/photography" },
    { name: "Dance", link: "/dance" },
    { name: "Programming", link: "/programming" },
];

const currentPath = Astro.url.pathname;
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Rum+Raisin&display=swap"
            rel="stylesheet"
        />
        <!-- FONTS END -->
        <title>Aayan's Portfolio</title>
        <slot name="head" />
    </head>
    <body>
        <div class="outline-wrapper">
            <nav>
                <a class="nav-title" href="#">Aayan's Life</a>
                <ul>
                    {
                        navLinks.map((link) => (
                            <li>
                                <a
                                    class={`nav-link ${currentPath === link.link ? "active" : ""}`}
                                    href={link.link}
                                >
                                    {link.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </nav>
            <main>
                <slot />
            </main>
        </div>

        <script></script>
    </body>
</html>
